{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
{% if page is not null and subPages is not empty %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<div class="panel-btns">
                <a class="panel-close" href="">×</a>
                <a class="minimize" href="">−</a>
            </div>--><!-- panel-btns -->
            <h3 class="panel-title">{{ page.title  }} </h3></p>
        </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--<div id="table2_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_length" id="table2_length"></div>
                    <div id="table2_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="table2"></label></div>-->
                    <table id="table2" class="table table-striped dataTable no-footer" role="grid" aria-describedby="table2_info">
                    <thead>
                     <tr role="row">
                        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 100px;">ID</th>
                        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 160px;">标题</th>
                        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 160px;">模板路径</th>
                        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1">内容</th>
                        <th tabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 200px;">创建时间</th>
                        <th ctabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 98px;">创建IP</th>
                        <th ctabindex="0" aria-controls="table2" rowspan="1" colspan="1" style="width: 100px;">操作</th>
                    </tr>
                 </thead>
                 <tbody>
                 {% for page in subPages %}
                    <tr class="gradeA {% if loop.index is odd %} odd{% else %} even{% endif %}" role="row">
                        <td>{{ page.id }}</td>
                        <td>{{ page.title }}</td>
                        <td>{{ page.templatePath }}</td>
                        <td>{{ page.content | striptags() }}</td>
                        <td>{{ page.createTime | date("Y-m-d H:i:s") }}</td>
                        <td>{{ page.createIp }}</td>
                        <td><a href="{{ url('admin_page_edit', {'id': page.id}) }}" class="label label-default">编辑</a> <a href="{{ url('admin_page_delete', {'id': page.id}) }}" class="label label-default">删除</a></td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table
                </div><!-- table-responsive -->
            </div><!-- panel-body -->
        </div>
    </div>
</div>
{% endif %}
<div class="row">
{% form_theme form 'AppBundle:Form:layout.html.twig' %}
<form class="form-horizontal" method="post" action="{{ app.request.uri }}" name="form" novalidate="novalidate">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-btns">
				<a class="panel-close" href="">×</a>
				<a class="minimize" href="">−</a>
			</div>
			<h4 class="panel-title">{{ pageTitle }}</h4>
			<p>{{ form_errors(form) }}</p>
		</div>
		<div class="panel-body">
			<div class="form-group">
				{{ form_label(form.title, '标题', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				<div class="col-sm-10">
					{{ form_widget(form.title, {'attr':{'class':'form-control', 'placeholder':'请输入标题'}}) }}
					{{ form_errors(form.title) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.parentId, '父页面', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				<div class="col-sm-10">
					{{ form_widget(form.parentId, {'attr':{'class':'select2', 'data-placeholder':'请选择'}}) }}
					{{ form_errors(form.parentId) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.templatePath, '模板路径', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				<div class="col-sm-10">
					{{ form_widget(form.templatePath, {'attr':{'class':'select2', 'data-placeholder':'请选择'}}) }}
					{{ form_errors(form.templatePath) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.content, '内容', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
				<div class="col-sm-10">
					{{ form_widget(form.content, {'attr':{'class':'form-control', 'placeholder':'请输入内容', 'rows':'20'}}) }}
					{{ form_errors(form.content) }}
				</div>
			</div>
		</div><!-- panel-body -->
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-3">
					{{ form_rest(form) }}
					<button class="btn btn-primary" type="submit">提 交</button>
					<button class="btn btn-default" type="reset">重 置</button>
				</div>
			</div>
		</div>
	</div><!-- panel -->
</form>
</div>
{% endblock %}
{% block title %}页面管理{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/select2.min.js') }}"></script>
<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(".select2").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
        ];
        $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            postForm( $(this), function( response ){
                if(response.ret != 0){
                    $('label.error').remove();
                    $('div.form-group').removeClass('has-error');
                    for(i = 0; i < response.errors.length; i ++){
                        $('#form_' + response.errors[i][0]).parents('div.form-group').addClass('has-error');
                        $('#form_' + response.errors[i][0]).focus().parent().append( '<label for="' + response.errors[i][0] +'" class="error">' + response.errors[i][1] + '</label>');
                        break;
                    }
                }
                else{
                    alert(response.msg);
                    window.location.href=response.retUrl;
                }
                //alert(response.msg.name);
            });
            return false;
        });
    });
    function postForm( $form, callback ){
        /* * Get all form values */
        var values = {};
        $.each( $form.serializeArray(), function(i, field) {
            values[field.name] = field.value;
        });
        /* * Throw the form values to the server! */
        $.ajax({
            type : $form.attr( 'method' ),
            url : $form.attr( 'action' ),
            data : values,
            success : function(data) {
                callback( data );
            }
        });
    }
</script>
{% endblock %}