{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
   <div class="h832">
        <div class="innerDiv">
            <img src="{{ asset('assets/default/')}}images/index.jpg" class="abs bgImg">
            <a href="{{ url('_rule') }}" class="abs indexBtn2"><img src="{{ asset('assets/default/')}}images/indexBtn2.png"></a>
            <a href="{{ url('_intro') }}" class="abs indexBtn1"><img src="{{ asset('assets/default/')}}images/indexBtn1.png"></a>
        </div>
    </div>
{% endblock %}